body {
    font-family: Arial;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
}

table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    border: 1px solid black;
    padding: 6px;
    text-align: center;
}

p {
    text-align: center;
}
